@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    table, th, td {
        border: 1px solid;
    }
</style>

<div class="text-center">
    <h1>Welcome</h1>
</div>

<div>
    <h2 class="text-center" style=" background-color:wheat">How would you like to travel?</h2>
</div>

<nav>
        <table>
            <tr>
                <th><a href=" https://localhost:7229/Train"><h4>Train</h4></a></th>
            </tr>
            <tr>
                <th><a href=" https://localhost:7229/Airplane"><h4>Airplane</h4></a></th>
            </tr>
        </table>
</nav>

<div>
    <h2>Benifits of traveling on an airplane!</h2>
    <p>Flying on an airplane is a safe and reliable way to travel around the world. Flying is one of the fastest methods of traveling. If you want to book your flight <a href="https://www.southwest.com/">Click Here.</a></p>
    <h2>Benifits of tarbeling on a train!</h2>
    <p>Traveling on a train has many benefits. Trains provid more leg room and comfort then other transportation. It also comes with scenic views and flexable seating arangments.If you want to book a train ticket <a href="https://www.thetrainline.com/en-us">Click Here.</a> </p>
</div>
